.profile_img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.navbar_header {
  background-color: darkgray;
  height: 55px;
}

.login_btn {
  background: white;
  color: black;
  width: 150px;
  height: 40px;
  padding: 7px 0px 7px 0px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border: 0.5px solid rgb(208, 211, 215);
  color: rgb(66, 67, 68);
}

.login_btn_wrap {
  padding: 7px;
}
